<div class="container text-center">
    <h2><span class="badge bg-warning">Hola Señor, we're currently working on this part of the site.</span></h2>
    <img src="/images/under_construction.svg" class="img-fluid" style="max-height: 30rem;">
</div>