<% layout('layouts/boilerplate') %>
<main class="container d-flex align-items-center justify-content-center" style="min-height: 85vh">
    <div class="row text-center">
        <h2>This page is currently under construction, come back later :)</h2>
        <img src="/images/under_construction.svg" alt="" class="" style="max-height: 25vh;">
    </div>
</main>